rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sheets/{document=**} {
      allow read, write: if true;
    }
    match /transactions/{document=**} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
